@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Italic.woff2')
      format('woff2');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff')
      format('woff'),
    url('https://assets.hackclub.com/fonts/Phantom_Sans_0.7/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
body{
  font-family: "Phantom Sans";
  background-color: #000;
  color: #fff;
}
:root{
  --green: #006A51;
  --gradient-green: linear-gradient(to bottom right, #00A780, var(--green));
}
#intro{
  padding: 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: flex-start; 
  font-size: xx-large;
}
#sjihclogo{
  width: 30%;
  height: auto;
  filter: drop-shadow(0 0 10vmin #fff);
}
.textImage{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.highlight{
  background-image: var(--gradient-green);
  color: transparent;
  background-clip: text;
}
.textCaro{
  animation: textCaro 2s ease-in-out;
}
#ideas{
  position: relative;
  margin: -2rem 0 -1rem 0;
}
@keyframes textCaro {
  0% {opacity: 0; bottom: 1rem;}
  50% {opacity: 1; bottom: 0;}
  100% {opacity: 0; bottom: -1rem;}
}
#flag{
  height: 8vh;
}
header{
  width: calc(100% - 2rem);
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  background: var(--gradient-green);
  border-radius: 2vmin;
  padding: 1rem 0;
}
header div, nav{
  display: flex;
  align-items: center;
  padding-right: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  text-wrap: nowrap;
}
header nav{
  justify-content: end;
}
p a{
  color: var(--green);
}
p a:visited{
  color: #fff;
  text-decoration-color: var(--green);
}
p a:hover{
  text-decoration-color: #fff;
  color: var(--green);
}
.block {
    background: var(--gradient-green);
    border-radius: 10px;
    text-decoration: none;  
    color: white;  
    display: flex;  
    margin: 5vmin;
    text-align: center;
    flex-direction: column;
    align-items: center;
    width: 40vmin; 
    height: 40vmin; 
    justify-content: center; 
    box-shadow: 5px 10px #fff;
    transition: all 0.5s;
}
.block img{
  width: 30vmin;
}
.blocks {
    display: flex;
    flex-wrap: wrap;
    margin: 5vmin;
    justify-content: center;
}
.block:hover{
    box-shadow: -5px 10px #fff;
}
nav a{
  background-color: #fff;
  color: var(--green);
  text-decoration: none;
  border-radius: 2vmin;
  height: 1rem;
  padding: 1rem;
  text-align: center;
  margin-left: 1rem;
}
main{
  padding: 1rem;
}
.joinButton {
  font-size: 3rem;
  text-decoration: none;
  color: #fff;
  padding: 2rem;
  background: var(--gradient-green);
  border-radius: 1rem;
}
footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}